<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý sản phẩm</title>
    <th:block th:replace="base :: css"></th:block>
</head>
<body>
    <div th:replace="base :: header"></div>

    <section class="container">
        <h1 class="text-center text-info">QUẢN LÝ SẢN PHẨM</h1>

        <form method="post" th:object="${product}" th:action="@{/admin/products}" enctype="multipart/form-data">
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Tên sản phẩm: </label>
                <input type="text" class="form-control" id="name" placeholder="Tên sản phẩm" th:field="*{name}" />
            </div>
            <div class="mb-3 mt-3">
                <label for="price" class="form-label">Gía sản phẩm: </label>
                <input type="number" class="form-control" id="price" placeholder="Gía sản phẩm" th:field="*{price}" />
            </div>
            <div class="mb-3 mt-3">
                <label for="cate" class="form-label">Danh mục sản phẩm: </label>
                
                <select class="form-select" th:field="*{categoryId}" id="cate">
                    <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                </select>
            </div>
            
            <div class="mb-3 mt-3">
                <label for="file" class="form-label">Ảnh sản phẩm: </label>
                <input type="file" class="form-control" id="file" th:field="*{file}" />
            </div>
            
            <div class="mb-3 mt-3" th:if="${product.image != null}">
                <img th:src="${product.image}" width="200" />
            </div>
            
            <button th:if="${product.id == null}" class="btn btn-success mb-2">Thêm sản phẩm</button>
            <button th:unless="${product.id == null}" class="btn btn-success mb-2">Cập nhật sản phẩm</button>
            
            <input type="hidden" th:field="*{id}" />
            <input type="hidden" th:field="*{image}" />
        </form>
    </section>

    <div th:replace="base :: footer"></div>
</body>
</html>